blosc2==3.5.1
certifi==2025.6.15
charset-normalizer==3.4.2
contourpy==1.3.2
cycler==0.12.1
fonttools==4.58.5
h5py==3.14.0
idna==3.10
joblib==1.5.1
kiwisolver==1.4.8
mat73==0.65
matplotlib==3.10.3
msgpack==1.1.1
ndindex==1.10.0
numexpr==2.11.0
numpy==2.2.6
packaging==25.0
pandas==2.3.1
pillow==11.3.0
platformdirs==4.3.8
py-cpuinfo==9.0.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
scikit-learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
six==1.17.0
tables==3.10.1
threadpoolctl==3.6.0
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
